.posts-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &--by-tag A {
    &::before {
      content: none;
    }
  }
}

.post-item {
  .posts-list--cards & {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #DDD;
  }
}

.post-item__title {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  line-height: 1.2;
  font-family: Georgia, serif;
}

.posts-list__archive-mark {
  margin-left: .5rem;
}

.post-item__footer {
  display: flex;
  justify-content: space-between;
  margin-top: .5rem;
  font-size: 12px;
}
