/* Mixins
-------------------------------- */
$color: yellowgreen;

@mixin working_item {
    background: $color !important;
    color: #FFF;
}

@mixin working_item_text {
    font-weight: bold;
    color: $color;
}

@mixin abs-fullsize {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include working_item;
}

@mixin pseudo-fullsize {
    content: "";
    @include abs-fullsize;
    @include working_item;
}

/* Hide simple tests
-------------------------------- */

/*.selectors-css1,
.selectors-css2 {
    display: none;
}*/

/* Styles in post
-------------------------------- */
.post__text {
    .s-item {
        margin-left: 0;
        &:before {
            content: none;
        }
    }
}
.s-wrapper {
    padding: 5px;
    background: lightgrey;
    color: #777;
}
.s-item--text .s-wrapper {
    background: #FFF;
    border-bottom: 1px solid #DDD;
    color: #333;
    }

.origin {
    float: right;
    width: 1.5em;
    border-radius: 50%;
    background: #FFF !important;
    color: #000 !important;
    text-align: center;
    }
    .s-item--text .origin {
        border: 1px solid #CCC;
        }
/* Working Selectors
-------------------------------- */

/* Css1
--------------- */
.s-link A,
.s-first--line .s-wrapper:first-line,
.s-first--letter .s-wrapper:first-letter {
    @include working_item_text;
    }

/* Css2
--------------- */
.s-universal *,
.s-class .s-wrapper,
#s-id__wrapper,
.s-desc .s-wrapper,
.s-type DIV,
.s-attr DIV[class] {
    @include working_item;
}


.s-attr--val DIV[class="s-wrapper"] {
    @include working_item;
}
.s-attr--val-wtspl DIV[class~="s-wrapper"] {
    @include working_item;
}
.s-attr--val-hpspl DIV[class|="s"] {
    @include working_item;
}
.s-first--child :first-child {
    @include working_item;
}
.s-lang DIV:lang(en) {
    @include working_item;
}
.s-child > .s-wrapper {
    @include working_item;
}
.s-child + .s-next .s-wrapper {
    @include working_item;
}
.s-before {
    position: relative;
    .s-wrapper {
        background: transparent;
        &:before {
            @include pseudo-fullsize;
        }
        SPAN {
            position: relative;
            color: #FFF;
        }
    }
}

/* Css3
--------------- */
.s-attr--begins DIV[class^="s"] {
    @include working_item;
}
.s-attr--ends DIV[class$="wrapper"] {
    @include working_item;
}
.s-attr--contains DIV[class*="s-wrapper"] {
    @include working_item;
}
:root .s-root {
    @include working_item;
}
:root {
    border: 10px solid $color;
}
.s-root {
    border: 2px solid crimson;
}
.s-nth DIV:nth-child(1) {
    @include working_item;
}
.s-last--n DIV:nth-last-child(1) {
    @include working_item;
}

.s-nth--type DIV:nth-of-type(1) {
    @include working_item;
}
.s-last--type-n DIV:nth-last-of-type(1) {
    @include working_item;
}
.s-last DIV:last-child {
    @include working_item;
}
.s-first--type DIV:first-of-type {
    @include working_item;
}
.s-last--type DIV:last-of-type {
    @include working_item;
}
.s-only DIV:only-child {
    @include working_item;
}
.s-only--type DIV:only-of-type {
    @include working_item;
}
.s-empty {
    position: relative;

    .s-wrapper {
        background: transparent;
        }
    DIV:empty {
        @include abs-fullsize;
    }
    SPAN {
        position: relative;
        color: #FFF;
        }
}
.s-target DIV:target {
    @include working_item;
}
.s-enabled :enabled {
    @include working_item;
    border: 1px solid #FFF;
}
.s-checked :checked {
    position: relative;
    z-index: 1;
}
.s-checked :checked + LABEL {
    position: relative;
    display: inline-block;
    @include working_item;
    margin-left: -25px;
    padding: 0 10px 0 25px;
}
.s-not :not(SPAN){
    @include working_item;
}

.s-not ~ .s-allnext DIV {
    @include working_item;
}
