{
  "extends": ["stylelint-config-standard", "stylelint-config-standard-scss"],
  "rules": {
    "no-duplicate-selectors": true,
    "color-hex-length": "short",
    "selector-max-id": 0,
    "selector-type-case": "upper",
    "import-notation": "string",
    "selector-class-pattern": null,
    "custom-property-pattern": null,
    "at-rule-no-unknown": null,
    "custom-property-empty-line-before": null,
    "function-no-unknown": null,
    "function-name-case": null,
    "no-descending-specificity": null,
    "scss/at-mixin-pattern": null,
    "scss/at-function-pattern": null
  }
}
