---
layout: mainpage
layout_type: mainpage
description: Статьи про Css
---

<ul class="list posts__list">{% for post in paginator.posts %}
<li class="post">
    {% if post.title %}
    <h3 class="post__title post__title--index"><a href="{{ post.url }}">{{ post.title }}</a></h3>
    {% endif %}
    <div class="post__excerpt">
      {{ post.excerpt | replace: ':</p>', '.</p>' }}
        <footer class="post__footer">
          <a href="{{ post.url }}" class="link link--readmore">Читать дальше &#8594;</a>

          {% if post.date %}<time datetime="{{ post.date | date: "%Y-%m-%d" }}" class="post__date">{{ post.date |
          date: "%d/%m/%Y" }}</time>{% endif %}
      </footer>
    </div>

  </li>
{% endfor %} </ul>

{% include pagination--main.html %}
