H1 {
    font-size: $base-font-size * 3.5;
    @extend %headers-style;
    }
H2 {
    font-size: $base-font-size * 2.5;
    @extend %headers-style;
    }
    .p-type-page H2 {
        @include margin( bottom );
        }
H3 {
    font-size: $base-font-size * 2.1;
    @extend %headers-style;
    }
H4 {
    font-size: $base-font-size * 1.7;
    @extend %headers-style;
    }
H5 {
    font-size: $base-font-size * 1.3;
    @extend %headers-style;
    }
H6 {
    font-size: $base-font-size * 1.1;
    @extend %headers-style;
    }

@media ( max-width: $break-point-small ){
    H2 {
        font-size: $base-font-size * 2;
        margin-bottom: $base-font-size * .6;
        }
    H3 {
        font-size: $base-font-size * 1.6;
        margin-bottom: $base-font-size * .6;
        }
    H4 {
        font-size: $base-font-size * 1.4;
        margin-bottom: $base-font-size * .6;
        }
    H5 {
        font-size: $base-font-size * 1.2;
        margin-bottom: $base-font-size * .6;
        }
    }
