.page {
    position: relative;
    min-width: 320px;
    max-width: 850px;
    margin: $half-logo-size auto 0;
    padding: $base-margin $base-margin * .75;
    box-sizing: border-box;
    background: #FFF;
    box-shadow: 0 5px 10px $base-shadow-color;

    @media (min-width: $break-point-small){
        padding: $base-margin;
    }
    @media (min-width: $break-point ) {
        max-width: 1200px;
        }
    }

.header,
.content {
    @include margin ( bottom );
    &:after {
        @extend %clear;
        }
    }
.content {
    @include padding ( bottom );
    @include border ( bottom );
    }

.main,
.aside {
    float: left;
    }
    .main {
        width: 100%;
        }

.aside {
    width: 17em;
    margin-left: -17em;

    @media (max-width: $break-point ) {
        width: 100%;
        margin-left: 0;
        .aside__widget {
            @include padding ( top );
            @include border ( top );
            }
        }
    }

.posts,
.post--single {
    margin-right: 19em;

    @media (max-width: $break-point ) {
        margin-right: 0;
        }
    }
    .p-layout-mainpage .post {
        @include margin ( bottom );
        @include padding ( bottom );
        @include border ( bottom );

        &:last-child {
            margin: 0;
            padding: 0;
            border: 0;
            }
    }
