<meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url  | replace: 'ru/', 'ru' }}{{ page.url }}" />
    {% if page.image %}<meta property="og:image" content="{{ page.image }}" />{% endif %}
    {% if page.desc %}<meta property="og:description" content="{{ page.desc }} "/>{% endif %}
