<meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url  | replace: '/', '' }}" />
    {% if page.image %}<meta property="og:image" content="{{ page.image }}" />{% endif %}
    {% if post.excerpt %}<meta property="og:description" content="{{ post.excerpt | replace: ':</p>', '.</p>' }} "/>{% endif %}