{% if page.type == 'post' %}
	<nav class="nav post__nav nav--prevnext">
		{% for post in site.posts %}

		  	{% if post.url == page.url %}
				{% if next_post %}
					<a href="{{ next_post.url }}" class="item item--next"> {{ next_post.title }} &rarr;</a>
			  		
			  	{% endif %}
			  		
		  		{% assign next = forloop.index  %}
		  		
		  		{% for post in site.posts limit:1 offset: next %}
					<a href="{{ post.url }}" class="item item--prev">&larr; {{ post.title }}</a>
		  		{% endfor %}
			{% else %}
				{% assign next_post = post %}		
			{% endif %}
		{% endfor %}
	</nav>	
{% endif %}