<h2 class="visually-hidden">Навигация по сайту</h2>
{% if page.type == 'page' %}{% if site.pages %}<div class="aside__widget widget">
  <h3>Страницы</h3>
  {% include pages-list.html %}
</div>{% endif %}{% endif %}

{% if page.layout_type != 'mainpage' and page.path != '/tags/' %}
<div class="aside__widget widget">
  <h3>Статьи</h3>
  {% include posts-list.html %}
</div>{% endif %}

{% if page.type == 'post'
  or page.layout_type == 'mainpage'
  or page.path == '/tags/' %}{% if site.pages %}<div class="aside__widget widget">
  <h3>Страницы</h3>
  {% include pages-list.html %}
</div>{% endif %}{% endif %}

<h2 class="visually-hidden">Полезные ссылки</h2>

{% if site.data.docs %}
<div class="aside__widget widget">
    <h3>Документация</h3>
    {% include links-list.html list=site.data.docs %}
</div>
{% endif %}

{% if site.data.blogs %}
<div class="aside__widget widget">
    <h3>Блоги</h3>
    {% include links-list.html list=site.data.blogs %}
</div>
{% endif %}

{% if site.data.useful %}
<div class="aside__widget widget">
    <h3>Удобности</h3>
    {% include links-list.html list=site.data.useful %}
</div>
{% endif %}

<div class="aside__widget widget widget--tutor">
    <div class="emoji emoji--tutor">👩‍🏫</div> Если вы&nbsp;хотите выбрать меня в&nbsp;качестве наставника на&nbsp;<a href="https://htmlacademy.ru/intensive/adaptive">продвинутом интенсиве</a> HTML&nbsp;Академии, <a href="mailto:yokayoka@yandex.ru">напишите&nbsp;мне&nbsp;✉️</a>
</div>

