.page {
  display: grid;
  gap: 2rem;
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 112px auto 0;
  padding: 2rem;
  box-sizing: border-box;
  background: #FFF;
  box-shadow: 0 5px 10px var(--base-shadow-color);

  @media ( max-width: 768px ) {
    padding: 1.5rem;
  }
}

.page-main-wrapper {
  display: grid;
  gap: var(--gap);
  grid-template-columns: minmax(0, 3fr) minmax(270px, 1fr);

  .page--main & {
    grid-template-columns: 1fr;
  }

  &--onecolumn {
    grid-template-columns: 1fr;
  }

  @media ( max-width: 1000px ) {
    grid-template-columns: minmax(250px, 1fr);
  }
}

