@import "../../scss/globals.scss";

.widget {
  margin-bottom: 2rem;

  A::before {
    content: none;
  }
}

.widget__title {
  margin-bottom: .5em;
  font-size: 2rem;
}

.widget__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media ( min-width: 550px ) and ( max-width: 1000px ) {
    columns: 2;
    column-gap: 1rem;
  }
}

.widget__item {
  margin-bottom: .75rem;

  &--current {
    font-weight: bold;
  }
}

.widget__desc {
  font-size: .75em;
  color: #555;
}
