.post__content .demo-ul {
  counter-reset: list;
  margin-bottom: 0
}

.post__content .demo-ul LI {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  margin: 0;
  line-height: 2.5em;
  background: #eee;
  text-align: center
}

.post__content .demo-ul LI:before {
  content: counter(list) !important;
  counter-increment: list;
  position: relative;
  margin: 0;
  color: rgba(0, 0, 0, .35)
}

.post__content H5 {
  margin-bottom: 1em;
  font: 1.2em/1.4 Georgia, serif;
  font-style: italic;
  color: #555
}

.post__content .text--light {
  font-size: .8em;
  color: #bbb
}

.post__content HR {
  margin: 1.5em 0
}

.demo-ul--1 LI:nth-child(3n),
.demo-ul--10 LI:nth-child(n+4):nth-child(even),
.demo-ul--11 LI:nth-child(3n+1):nth-child(even),
.demo-ul--12 LI:nth-child(n+3):nth-child(-n+8):nth-child(even),
.demo-ul--2 LI:nth-child(3n+1),
.demo-ul--3 LI:nth-child(even),
.demo-ul--4 LI:nth-child(odd),
.demo-ul--5 LI:nth-child(3n-1),
.demo-ul--6 LI:nth-child(5),
.demo-ul--7 LI:nth-child(n+6),
.demo-ul--8 LI:nth-child(-n+6),
.demo-ul--9 LI:nth-child(n+3):nth-child(-n+8) {
  background: currentColor
}

.demo-ul--1 {
  color: #eb4747
}

.demo-ul--2 {
  color: #eb9947
}

.demo-ul--3 {
  color: #ebeb47
}

.demo-ul--4 {
  color: #99eb47
}

.demo-ul--5 {
  color: #47eb47
}

.demo-ul--6 {
  color: #47eb99
}

.demo-ul--7 {
  color: #47ebeb
}

.demo-ul--8 {
  color: #4799eb
}

.demo-ul--9 {
  color: #4747eb
}

.demo-ul--10 {
  color: #9947eb
}

.demo-ul--11 {
  color: #eb47eb
}

.demo-ul--12 {
  color: #eb4799
}
