/*
Styles for not loaded image.
Fully works in Chrome, partially in FF, not works in Safari (except font-size).
*/
.logo-no-image {
  height: 50px;
  padding: .5rem;
  border: 0;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center; }
  .logo-no-image:before, .logo-no-image:after {
    content: '\2729';
    display: inline-block;
    width: 2.3rem;
    height: 2.3rem;
    vertical-align: top;
    background: lightseagreen;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    font-size: 2rem;
    line-height: 2rem;
    color: white; }
  .logo-no-image:before {
    margin-right: 1rem; }
  .logo-no-image:after {
    margin-left: 1rem; }
