/*!
 * Name: yoksel.github.io
 * Project: GitPages
 * Author: yoksel
 * Version: 0.0.1
 */

.g--clip-path-img {
  clip-path: url(#clipping-star);
}

#clipping-text {
  font: bold italic 15em/1 Georgia;
}

.g--clip-path-text {
  -webkit-transform: translate(100);
  -ms-transform: translate(100);
  transform: translate(100);
  clip-path: url(#clipping-text);
  font: bold italic .8em/1 Georgia;
  stroke: red;
  fill: #006432;
}

.g--svg-mask-svg image {
  mask: url(#masking);
}

.g--svg-mask-svg-soft image {
  mask: url(#masking-soft);
}

.g--svg-fill text {
  fill: url(#pattern);
  font: bold italic 12em/1 Georgia;
}

.g--svg-fill-text text {
  fill: url(#pattern-text);
  font: bold italic 12em/1 Georgia;
}

/* Common 
------------------------------------------- */
.svg-defs {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 12px;
}

svg {
  border: 2px solid crimson;
}
