/* Mixins
-------------------------------- */
/* Hide simple tests
-------------------------------- */
/*.selectors-css1,
.selectors-css2 {
    display: none;
}*/
/* Styles in post
-------------------------------- */
.post__text .s-item {
  margin-left: 0; }
  .post__text .s-item:before {
    content: none; }

.s-wrapper {
  padding: 5px;
  background: lightgrey;
  color: #777; }

.s-item--text .s-wrapper {
  background: #FFF;
  border-bottom: 1px solid #DDD;
  color: #333; }

.origin {
  float: right;
  width: 1.5em;
  border-radius: 50%;
  background: #FFF !important;
  color: #000 !important;
  text-align: center; }

.s-item--text .origin {
  border: 1px solid #CCC; }

/* Working Selectors
-------------------------------- */
/* Css1
--------------- */
.s-link A,
.s-first--line .s-wrapper:first-line,
.s-first--letter .s-wrapper:first-letter {
  font-weight: bold;
  color: yellowgreen; }

/* Css2
--------------- */
.s-universal *,
.s-class .s-wrapper,
#s-id__wrapper,
.s-desc .s-wrapper,
.s-type DIV,
.s-attr DIV[class] {
  background: yellowgreen !important;
  color: #FFF; }

.s-attr--val DIV[class="s-wrapper"] {
  background: yellowgreen !important;
  color: #FFF; }

.s-attr--val-wtspl DIV[class~="s-wrapper"] {
  background: yellowgreen !important;
  color: #FFF; }

.s-attr--val-hpspl DIV[class|="s"] {
  background: yellowgreen !important;
  color: #FFF; }

.s-first--child :first-child {
  background: yellowgreen !important;
  color: #FFF; }

.s-lang DIV:lang(en) {
  background: yellowgreen !important;
  color: #FFF; }

.s-child > .s-wrapper {
  background: yellowgreen !important;
  color: #FFF; }

.s-child + .s-next .s-wrapper {
  background: yellowgreen !important;
  color: #FFF; }

.s-before {
  position: relative; }
  .s-before .s-wrapper {
    background: transparent; }
    .s-before .s-wrapper:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: yellowgreen !important;
      color: #FFF;
      background: yellowgreen !important;
      color: #FFF; }
    .s-before .s-wrapper SPAN {
      position: relative;
      color: #FFF; }

/* Css3
--------------- */
.s-attr--begins DIV[class^="s"] {
  background: yellowgreen !important;
  color: #FFF; }

.s-attr--ends DIV[class$="wrapper"] {
  background: yellowgreen !important;
  color: #FFF; }

.s-attr--contains DIV[class*="s-wrapper"] {
  background: yellowgreen !important;
  color: #FFF; }

:root .s-root {
  background: yellowgreen !important;
  color: #FFF; }

:root {
  border: 10px solid yellowgreen; }

.s-root {
  border: 2px solid crimson; }

.s-nth DIV:nth-child(1) {
  background: yellowgreen !important;
  color: #FFF; }

.s-last--n DIV:nth-last-child(1) {
  background: yellowgreen !important;
  color: #FFF; }

.s-nth--type DIV:nth-of-type(1) {
  background: yellowgreen !important;
  color: #FFF; }

.s-last--type-n DIV:nth-last-of-type(1) {
  background: yellowgreen !important;
  color: #FFF; }

.s-last DIV:last-child {
  background: yellowgreen !important;
  color: #FFF; }

.s-first--type DIV:first-of-type {
  background: yellowgreen !important;
  color: #FFF; }

.s-last--type DIV:last-of-type {
  background: yellowgreen !important;
  color: #FFF; }

.s-only DIV:only-child {
  background: yellowgreen !important;
  color: #FFF; }

.s-only--type DIV:only-of-type {
  background: yellowgreen !important;
  color: #FFF; }

.s-empty {
  position: relative; }
  .s-empty .s-wrapper {
    background: transparent; }
  .s-empty DIV:empty {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: yellowgreen !important;
    color: #FFF; }
  .s-empty SPAN {
    position: relative;
    color: #FFF; }

.s-target DIV:target {
  background: yellowgreen !important;
  color: #FFF; }

.s-enabled :enabled {
  background: yellowgreen !important;
  color: #FFF;
  border: 1px solid #FFF; }

.s-checked :checked {
  position: relative;
  z-index: 1; }

.s-checked :checked + LABEL {
  position: relative;
  display: inline-block;
  background: yellowgreen !important;
  color: #FFF;
  margin-left: -25px;
  padding: 0 10px 0 25px; }

.s-not :not(SPAN) {
  background: yellowgreen !important;
  color: #FFF; }

.s-not ~ .s-allnext DIV {
  background: yellowgreen !important;
  color: #FFF; }
