/*!
 * Name: yoksel.github.io
 * Project: GitPages
 * Author: yoksel
 * Version: 0.0.1
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Mixins
-------------------------------- */
/* Fonts
-------------------------------- */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local("Lobster"), url(http://themes.googleusercontent.com/licensed/font?kit=NIaFDq6p6eLpSvtV2DTNDW3ijSvVR9649SYj9d1g6NU) format("woff"); }
H1, H2, H3, H4, H5, H6 {
  margin-bottom: 16px;
  line-height: 1.2;
  font-family: Georgia, serif; }

/* Colors
-------------------------------- */
/* Margins, paddings
-------------------------------- */
/* Borders
-------------------------------- */
/* Common
-------------------------------- */
.clear:after, .l-header:after,
.l-content:after, .post__text SECTION:before, .post__nav:after {
  content: "";
  display: table;
  width: 100%;
  clear: both; }

/* MultyShadows
-------------------------------- */
/*



*/
BODY {
  padding: 32px;
  background: #EEE;
  font: 16px/1.5 Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  color: #000; }
  @media (max-width: 900px) {
    BODY {
      padding: 30px 0 0; } }

A {
  color: steelblue; }
  A:visited {
    color: #8db3d3; }
  A:hover {
    text-decoration: none;
    color: tomato; }

/* Headers
-------------------------------- */
H1 {
  font-size: 56px; }

H2 {
  font-size: 40px; }

.p-type-page H2 {
  margin-bottom: 32px; }

H3 {
  font-size: 33.6px; }

H4 {
  font-size: 27.2px; }

H5 {
  font-size: 20.8px; }

H6 {
  font-size: 17.6px; }

@media (max-width: 700px) {
  H2 {
    font-size: 32px;
    margin-bottom: 9.6px; }

  H3 {
    font-size: 25.6px;
    margin-bottom: 9.6px; }

  H4 {
    font-size: 22.4px;
    margin-bottom: 9.6px; }

  H5 {
    font-size: 19.2px;
    margin-bottom: 9.6px; } }
/* Common
-------------------------------- */
HR {
  height: 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #DDD; }

.imd--left {
  float: left;
  margin: 0 32px 32px 0; }

.font--small {
  font-size: .8em; }

.svg {
  border: 1px dashed #DDD; }

.logo {
  font-family: 'Lobster', Georgia, cursive; }

.i-ljuser {
  white-space: nowrap; }

.i-ljuser-userhead {
  vertical-align: -2px;
  margin-right: 3px; }

.no-js :target:before {
  margin: 6px 0 0 -84px;
  background: #c9e052 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M19.414 27.414l10-10c0.781-0.781 0.781-2.047 0-2.828l-10-10c-0.781-0.781-2.047-0.781-2.828 0-0.781 0.781-0.781 2.047 0 2.828l6.586 6.586h-19.172c-1.105 0-2 0.895-2 2s0.895 2 2 2h19.172l-6.586 6.586c-0.39 0.39-0.586 0.902-0.586 1.414s0.195 1.024 0.586 1.414c0.781 0.781 2.047 0.781 2.828 0z" fill="#FFF" /></svg>') center center no-repeat;
  -webkit-animation: movemarker .5s;
  animation: movemarker .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.no-js :target:before,
.js--target-marker {
  content: "";
  display: block;
  position: absolute;
  margin: 6px 0 0 -60px;
  width: 44px;
  height: 44px;
  line-height: 63px;
  background: #c9e052;
  border-radius: 50%;
  border: 5px solid #FFF;
  -webkit-box-shadow: -2px 0 5px rgba(100, 100, 100, 0.5);
  box-shadow: -2px 0 5px rgba(100, 100, 100, 0.5);
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s; }

#arrow {
  fill: #FFF; }

.js--target-marker[data-target-tag="li"] {
  margin-top: -16px; }

.js--target-marker {
  display: none; }

.js--target-marker:hover {
  background-color: steelblue;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

@-webkit-keyframes movemarker {
  100% {
    margin-left: -60px; } }

@keyframes movemarker {
  100% {
    margin-left: -60px; } }
P:empty {
  display: none; }

.kitten {
  position: absolute;
  right: 0;
  top: -77px; }
  @media (max-width: 700px) {
    .kitten {
      display: none; } }

.disp-inblock {
  display: inline-block; }

.vlm {
  vertical-align: middle; }

/* Codes
-------------------------------- */
PRE,
CODE {
  border-radius: 4px; }

CODE {
  display: inline-block;
  padding: 0 3px;
  background: palegoldenrod;
  text-shadow: 1px 1px white;
  font-family: Consolas, Monaco, Lucida Console, monospace;
  font-size: 12px;
  line-height: 1.6;
  color: darkred; }

PRE CODE {
  display: block;
  background: transparent;
  color: inherit; }

.specifity {
  background: #DDD;
  color: #222; }

/* Frames
-------------------------------- */
.frame--border {
  border: 1px solid #DDD; }

/* Layout
-------------------------------- */
.l-page {
  position: relative;
  min-width: 320px;
  max-width: 1200px;
  margin: 112px auto 0;
  padding: 32px;
  background: #FFF;
  -webkit-box-shadow: 0 5px 10px rgba(100, 100, 100, 0.5);
  box-shadow: 0 5px 10px rgba(100, 100, 100, 0.5); }
  @media (max-width: 900px) {
    .l-page {
      padding: 32px 19.2px; } }

.l-header,
.l-content {
  margin-bottom: 32px; }

.l-content {
  padding-bottom: 32px;
  border-bottom: 1px solid #DDD; }

.l-main,
.l-aside {
  float: left; }

.l-main {
  width: 100%; }

.posts,
.post--single {
  margin-right: 19em; }
  @media (max-width: 900px) {
    .posts,
    .post--single {
      margin-right: 0; } }

.p-layout-mainpage .post {
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #DDD;
  /*@media (min-width: $break-point ) {
      float: left;
      width: 48.5%;
      &:nth-child(2n+1){
          clear: left;
          }
      &:nth-child(2n){
          float: right;
          clear: right;
          }
  }*/ }
  .p-layout-mainpage .post:last-child {
    margin: 0;
    padding: 0;
    border: 0; }

.l-aside {
  width: 17em;
  margin-left: -17em; }
  @media (max-width: 900px) {
    .l-aside {
      width: 100%;
      margin-left: 0; }
      .l-aside .aside__widget {
        padding-top: 32px;
        border-top: 1px solid #DDD; } }

/* Header
-------------------------------- */
.l-header {
  position: relative;
  height: 80px;
  text-align: center; }

.header__logo {
  display: inline-block;
  position: absolute;
  width: 224px;
  height: 224px;
  margin: 0 auto;
  bottom: 0;
  left: -112px;
  right: -112px; }
  .header__logo SPAN {
    vertical-align: middle; }
  .header__logo .item--about {
    font-size: .7em; }
  .header__logo .item--css {
    font-size: 1.2em; }

.header__logo,
.header__logo A {
  text-decoration: none;
  text-shadow: 0 0 5px #7f0c23;
  color: #FFF; }

.header__logo .logo__no-link,
.header__logo A {
  display: block;
  position: relative;
  width: 224px;
  height: 224px;
  background: crimson;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 transparent inset, 0 0 0 10px white, 0 -3px 10px 9px rgba(100, 100, 100, 0.5);
  box-shadow: 0 0 0 transparent inset, 0 0 0 10px white, 0 -3px 10px 9px rgba(100, 100, 100, 0.5); }
  .header__logo .logo__no-link:before,
  .header__logo A:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 224px;
    margin-right: -.1em;
    vertical-align: middle; }

.header__logo A {
  -webkit-transition: all .5s;
  transition: all .5s; }
  .header__logo A:after {
    content: "";
    display: block;
    position: absolute;
    width: 268.8px;
    height: 268.8px;
    top: -22.4px;
    left: -22.4px;
    border-radius: 50%;
    /* @include shadow ( 0, 0, transparent); */
    -webkit-transition: all .5s;
    /* @include shadow ( 0, 0, transparent); */
    transition: all .5s; }
  .header__logo A:hover {
    background: #444;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5) inset, 0 0 0 10px white, 0 -3px 10px 9px rgba(100, 100, 100, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5) inset, 0 0 0 10px white, 0 -3px 10px 9px rgba(100, 100, 100, 0.5);
    text-shadow: 0 2px 5px black;
    color: #DDD; }
  .header__logo A:hover:after {
    -webkit-box-shadow: -14.56px -14.56px 0 0 rgba(255, 0, 0, 0.3), -20.384px 0 0 0 rgba(255, 170, 0, 0.3), -14.56px 14.56px 0px 0 rgba(170, 255, 0, 0.3), 0 20.384px 0px 0 rgba(0, 255, 0, 0.3), 14.56px 14.56px 0px 0 rgba(0, 255, 170, 0.3), 20.384px 0 0px 0 rgba(0, 170, 255, 0.3), 14.56px -14.56px 0px 0 rgba(0, 0, 255, 0.3), 0 -20.384px 0px 0 rgba(170, 0, 255, 0.3);
    box-shadow: -14.56px -14.56px 0 0 rgba(255, 0, 0, 0.3), -20.384px 0 0 0 rgba(255, 170, 0, 0.3), -14.56px 14.56px 0px 0 rgba(170, 255, 0, 0.3), 0 20.384px 0px 0 rgba(0, 255, 0, 0.3), 14.56px 14.56px 0px 0 rgba(0, 255, 170, 0.3), 20.384px 0 0px 0 rgba(0, 170, 255, 0.3), 14.56px -14.56px 0px 0 rgba(0, 0, 255, 0.3), 0 -20.384px 0px 0 rgba(170, 0, 255, 0.3);
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite; }

.header__nav A {
  margin-right: 16px; }

.header__nav .item--current {
  font-weight: bold; }

/* Footer
-------------------------------- */
.footer__logo {
  display: inline-block;
  margin-bottom: 0; }
  .footer__logo A {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #333;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .footer__logo A:before {
      content: attr(data-name);
      display: inline-block;
      position: absolute;
      left: 0;
      width: 0;
      overflow: hidden;
      white-space: nowrap;
      color: crimson;
      -webkit-transition: all .5s;
      transition: all .5s; }
    .footer__logo A:hover {
      text-shadow: 0 2px 2px #CCC; }
      .footer__logo A:hover:before {
        width: 100%; }

.footer__nav {
  float: right;
  height: 38px;
  line-height: 38px; }
  .footer__nav .item {
    margin-left: 1em; }

/* Post
-------------------------------- */
.post {
  word-break: break-word; }
  .post P {
    margin: 16px 0; }
  .post PRE,
  .post TABLE,
  .post BLOCKQUOTE {
    margin-bottom: 16px; }
  .post .marg--bottom {
    margin-bottom: 32px; }
  .post IFRAME {
    max-width: 100%; }

.warning--before-read {
  margin-bottom: 16px;
  padding: 1em;
  border-radius: 10px;
  background: lightgoldenrodyellow; }

.warning--before-read P:last-child {
  margin-bottom: 0; }

.svg-viewport {
  border: 3px solid yellowgreen; }

.post__excerpt P {
  white-space: pre-line; }
  .post__excerpt P:last-of-type {
    margin-bottom: 10px; }
.post__excerpt .link--readmore {
  float: left;
  font-size: 12px; }

.post__date {
  display: block;
  font-style: italic;
  color: #AAA; }

.p-layout-mainpage .post__date {
  float: right;
  font-size: 12px; }

.p-type-post .post__date {
  margin-bottom: 32px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DDD;
  font-size: .9em; }

.post__text {
  margin-bottom: 32px; }
  .post__text FIGURE:not(:last-of-type) {
    margin-right: 32px; }
  .post__text FIGCAPTION {
    font-style: italic;
    color: #777; }
  .post__text IMG {
    max-width: 100%;
    height: auto; }
    .post__text IMG:not([class='i-ljuser-userhead']) {
      border: 1px solid #DDD; }
  .post__text TABLE {
    width: 100%; }
  .post__text .table--w-auto {
    width: auto; }
  .post__text TH,
  .post__text TD {
    border-bottom: 1px solid #DDD;
    padding: 7px;
    text-align: left; }
  .post__text TH {
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.2em; }
  .post__text THEAD TH {
    border-top: 1px solid #DDD;
    background: #EEE; }
  .post__text UL {
    margin-bottom: 32px; }
  .post__text UL UL {
    margin-bottom: 0; }
  .post__text UL LI {
    margin: 0 0 5px 25px; }
  .post__text UL LI:before {
    content: "\2014";
    position: absolute;
    margin-left: -20px;
    color: #AAA; }
  .post__text OL {
    margin-left: 16px;
    margin-bottom: 32px;
    counter-reset: num-list; }
  .post__text OL LI:before {
    content: counter(num-list) ". ";
    counter-increment: num-list; }
  .post__text P + H3,
  .post__text SCRIPT + H3,
  .post__text PRE + H3,
  .post__text IFRAME + H3,
  .post__text svg + H3,
  .post__text P + H4,
  .post__text SCRIPT + H4,
  .post__text PRE + H4,
  .post__text IFRAME + H4,
  .post__text svg + H3 {
    margin-top: 32px; }
  .post__text P {
    white-space: pre-line; }
  .post__text SECTION H4 {
    margin-top: 16px; }

.selectorsReview .origin,
.selectorsReview .support {
  text-align: center; }

.jsbin {
  width: 100%;
  margin-bottom: 32px;
  border: 1px solid #DDD; }

.p-hide-demo .jsbin[data-src] {
  display: none; }

.js--toggle-demo {
  margin-bottom: 20px; }

.js--toggle-demo__text {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 3px 15px;
  background: steelblue linear-gradient(#7ba7cc, #38678f);
  -webkit-box-shadow: 0 0 0 1px steelblue inset, 0 0 0 2px #699bc4 inset, 0 -1px 2px rgba(100, 100, 100, 0.5);
  box-shadow: 0 0 0 1px steelblue inset, 0 0 0 2px #699bc4 inset, 0 -1px 2px rgba(100, 100, 100, 0.5);
  border-radius: 5px;
  text-shadow: 1px 0 2px #294d6b;
  color: #f4f8fb;
  -webkit-transition: all .5s;
  transition: all .5s; }

.js--toggle-opened .js--toggle-demo__text {
  background: steelblue linear-gradient(#3f75a2, steelblue);
  -webkit-box-shadow: 0 -1px 5px 1px #294d6b inset, 0 0 0 0 #8db3d3 inset, 0 0 0 rgba(100, 100, 100, 0.5);
  box-shadow: 0 -1px 5px 1px #294d6b inset, 0 0 0 0 #8db3d3 inset, 0 0 0 rgba(100, 100, 100, 0.5);
  text-shadow: 0 1px 2px #1b3246;
  color: #d7e4ef; }

.column {
  width: 48%; }
  .column .svg {
    display: block;
    margin: 16px 0 32px; }

.column-left {
  float: left; }

.column-right {
  float: right; }

.wrapper--selector {
  display: inline-block;
  width: 120px;
  background: -webkit-linear-gradient(0deg, #BBB 1px, rgba(255, 255, 255, 0) 1px) repeat-x right 90%;
  background: linear-gradient(90deg, #BBB 1px, rgba(255, 255, 255, 0) 1px) repeat-x right 90%;
  -webkit-background-size: 3px 1px;
  background-size: 3px 1px; }

.post-tags {
  margin-bottom: 32px; }
  .post-tags__title, .post-tags__item {
    display: inline-block; }
  .post-tags__title {
    font-weight: bold; }
  .post-tags__item:last-child .post-tags__delim {
    display: none; }

.post-links__title,
.post-index__title {
  margin-bottom: 5px;
  font-weight: bold; }
.post-links__item,
.post-index__item {
  margin-bottom: 5px; }
  .post-links__item:before,
  .post-index__item:before {
    content: "\2014";
    margin-right: 5px; }

.post-links--presentations .post-links__title {
  margin-bottom: 0; }
.post-links--presentations .post-links__item {
  margin-bottom: 10px;
  font-size: .75em;
  color: #555; }
  .post-links--presentations .post-links__item:before {
    content: none; }

.post__share {
  margin: 32px 0 0 0; }

.share-list__item {
  display: inline-block;
  vertical-align: bottom; }
.share-list IFRAME {
  vertical-align: bottom; }

.post__linkedit {
  margin: 48px 0 0 0;
  font-style: italic;
  font-size: .9em;
  color: #AAA; }

.table--with-border {
  border: 1px solid #DDD;
  border-bottom: 0; }
  .table--with-border THEAD {
    font-weight: bold; }
  .table--with-border TD {
    text-align: center;
    border-left: 1px solid #DDD; }
  .table--with-border TD:first-child {
    border-left: 0; }

.table--zebra-vert TD {
  text-align: center; }

.table--zebra-vert TD:nth-child(2n) {
  background: #DDD;
  border-bottom-color: #FFF; }

.post__index {
  margin-bottom: 32px; }

.post__link-back {
  margin-bottom: 16px;
  text-align: center;
  color: #aaaaaa; }

.post__nav {
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid #DDD; }
  @media (max-width: 900px) {
    .post__nav {
      padding-top: 8px;
      padding-bottom: 8px; }
      .post__nav .item__text {
        display: none; }
      .post__nav A {
        font-size: 48px;
        line-height: 1;
        text-decoration: none; } }
  .post__nav .item--prev {
    float: left; }
  .post__nav .item--next {
    float: right; }

.table--colors {
  min-width: 780px;
  background: white; }
  .table--colors .color-item {
    margin-bottom: 3px;
    white-space: nowrap; }
  .table--colors .color-view,
  .table--colors .color-name {
    display: inline-block;
    vertical-align: middle; }
  .table--colors .color-view {
    width: 70px; }
  .table--colors .color-name {
    padding-left: 5px;
    font-size: 13px;
    font-style: italic; }
  @media (max-width: 900px) {
    .table--colors {
      min-width: 0; }
      .table--colors TD {
        display: inline-block;
        width: 47.5%;
        padding: 0;
        border: 0; }
      .table--colors .color-view {
        width: 120px;
        height: 35px; }
      .table--colors .color-name {
        padding-left: 10px;
        font-size: 16px; } }
  @media (max-width: 720px) {
    .table--colors TD {
      display: inline-block;
      width: 100%;
      border: 0;
      padding: 0; }
    .table--colors .color-view {
      width: 170px;
      height: 50px; } }

.post__footer:after {
  content: '';
  display: table;
  clear: both; }

.widget--disqus {
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid #DDD; }

/* Aside
-------------------------------- */
.aside__widget {
  margin-bottom: 32px; }
  .aside__widget:last-child {
    margin-bottom: 0; }
  .aside__widget IMG {
    max-width: 100%; }

.widget__item {
  margin-bottom: 8px; }
  @media (max-width: 700px) {
    .widget__item {
      margin-bottom: 3px; } }

.widget__item--current {
  font-weight: bold; }

.widget__item--dead A {
  text-decoration: line-through;
  color: #CCC; }

.img--about {
  float: right;
  max-width: 200px !important;
  height: auto;
  margin: 0 0 32px 32px;
  border-radius: 10px; }

/* Tags
-------------------------------- */
@media (max-width: 900px) {
  .posts-by-tags {
    margin-bottom: 32px; } }

.tags-list {
  margin-bottom: 16px;
  padding: 1rem;
  background: #EEE;
  text-align: center; }

.tags-list__item {
  display: inline-block;
  margin-right: .5em;
  line-height: 2; }

.tags-button {
  padding: 0;
  background: transparent;
  border: 0;
  border-bottom: 1px dashed;
  font: inherit;
  line-height: 1;
  color: #333;
  cursor: pointer; }
  .tags-button--current {
    border: 0;
    outline: 0;
    -webkit-box-shadow: 0 0 0 4px #333;
    box-shadow: 0 0 0 4px #333;
    background: #333;
    color: #FFF; }

.posts__list---by-tag .post {
  display: none;
  margin-bottom: 8px; }

/* Animations
-------------------------------- */
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* Animations
-------------------------------- */
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* Icons
-------------------------------- */
.has-link-icons A[href*="github"]:before,
.widget--about A[href*="github"]:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  background: url(/assets/img/sprite.png);
  background-position: 0 0; }
.has-link-icons A[href*="codepen.io"]:before,
.has-link-icons A[href*="cdpn.io"]:before,
.widget--about A[href*="codepen.io"]:before,
.widget--about A[href*="cdpn.io"]:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  background: url(/assets/img/sprite.png);
  background-position: -20px 0; }
.has-link-icons A[href*="wikipedia"]:before,
.widget--about A[href*="wikipedia"]:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  background: url(/assets/img/sprite.png);
  background-position: -40px 0; }
.has-link-icons A[href*="colourlovers"]:before,
.widget--about A[href*="colourlovers"]:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  background: url(/assets/img/sprite.png);
  background-position: -60px 0; }
.has-link-icons A[href*="yoksel.livejournal"]:before,
.widget--about A[href*="yoksel.livejournal"]:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  background: url(/assets/img/sprite.png);
  background-position: -80px 0; }
.has-link-icons A[href*="covers.livejournal"]:before,
.widget--about A[href*="covers.livejournal"]:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  background: url(/assets/img/sprite.png);
  background-position: -100px 0; }
.has-link-icons A[href*="jsbin.com"]:before,
.widget--about A[href*="jsbin.com"]:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  background: url(/assets/img/sprite.png);
  background-position: -120px 0; }
.has-link-icons A[href*="w3.org"]:before,
.widget--about A[href*="w3.org"]:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  background: url(/assets/img/sprite.png);
  background-position: -140px 1px; }
.has-link-icons A[href*="css-tricks.com"]:before,
.widget--about A[href*="css-tricks.com"]:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  background: url(/assets/img/sprite.png);
  background-position: -160px 0; }
.has-link-icons A[href*="webplatform.org"]:before,
.widget--about A[href*="webplatform.org"]:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  background: url(/assets/img/sprite.png);
  background-position: -180px 0; }
.has-link-icons A[href*="html5rocks.com"]:before,
.widget--about A[href*="html5rocks.com"]:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  background: url(/assets/img/sprite.png);
  background-position: -200px 0; }
.has-link-icons A[href*="caniuse.com"]:before,
.widget--about A[href*="caniuse.com"]:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  background: url(/assets/img/sprite.png);
  background-position: -220px 0; }
.has-link-icons A[href*="google.com"]:before,
.widget--about A[href*="google.com"]:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  background: url(/assets/img/sprite.png);
  background-position: -240px 0; }
.has-link-icons A[href*="developer.mozilla.org"]:before,
.widget--about A[href*="developer.mozilla.org"]:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  background: url(/assets/img/sprite.png);
  background-position: -280px 0; }
.has-link-icons .no-favicon:before,
.widget--about .no-favicon:before {
  content: none !important; }

A[href*="twitter.com"]:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  background: url(/assets/img/sprite.png);
  background-position: -300px 0; }

A[href*="rss"]:before,
A[href*="feed"]:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  background: url(/assets/img/sprite.png);
  background-position: -260px 0; }

.post CODE A:before {
  content: none !important; }

/* Prism
-------------------------------- */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  /*margin: .5em 0;*/
  overflow: auto;
  /*border-radius: 0.3em;*/ }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag {
  color: #f92672; }

.token.boolean,
.token.number {
  color: #ae81ff; }

.token.selector,
.token.attr-name,
.token.string {
  color: #a6e22e; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #f8f8f2; }

.token.atrule,
.token.attr-value {
  color: #e6db74; }

.token.keyword {
  color: #66d9ef; }

.token.regex,
.token.important {
  color: #fd971f; }

.token.important {
  font-weight: bold; }

.token.entity {
  cursor: help; }

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber; }

pre.line-numbers > code {
  position: relative; }

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right; }

.token a {
  color: inherit; }

/*# sourceMappingURL=style.css.map */
