.aside__widget {
    @include margin ( bottom );
    &:last-child {
        margin-bottom: 0;
        }
    IMG {
        max-width: 100%
        }
}

.widget--tutor {
    @include margin ( top );
    @include padding ( top );
    @include border ( top );
    font-size: .9em;
    color: #333;
    }
.emoji--tutor {
    float: right;
    font-size: 60px;
    line-height: 1;
    margin-left: 10px;
    }

.widget__item {
    @include small-margin( bottom );
    @media ( max-width: $break-point-small ){
        margin-bottom: 3px;
        }
    }
.widget__item--current {
    font-weight: bold;
    }
.widget__item--dead A {
    text-decoration: line-through;
    color: #CCC;
    }

.img--about {
    float: right;
    max-width: 200px !important;
    height: auto;
    margin: 0 0 $base-margin $base-margin;
    border-radius: 10px;
    }
