.header {
    position: relative;
    height: $half-logo-size - $base-margin;
    text-align: center;
    }
.header__logo {
    display: inline-block;
    position: absolute;
    width: $logo-size;
    height: $logo-size;
    margin: 0 auto;
    bottom: 0;
    left: -$half-logo-size;
    right: -$half-logo-size;
    SPAN {
        vertical-align: middle;
        }
    .item--about {
        font-size: .7em;
        }
    .item--css {
        font-size: 1.2em;
        }
    }
   .header__logo,
   .header__logo A {
        text-decoration: none;
        text-shadow: 0 0 5px darken($logo-bgcolor, 20);
        color: #FFF
        }
    .header__logo .logo__no-link,
    .header__logo A {
        display: block;
        position: relative;
        width: $logo-size;
        height: $logo-size;
        background: $logo-bgcolor;
        border-radius: 50%;
        box-shadow: 0 0 0 transparent inset,
                    0 0 0 10px white,
                    0 -3px 10px 9px $base-shadow-color;
        &:before {
            content: "";
            display: inline-block;
            width: 0;
            height: $logo-size;
            margin-right: -.1em;
            vertical-align: middle;
            }
        }
    .header__logo A {
        @include transition;

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: $logo-circ-decor-size;
            height: $logo-circ-decor-size;
            top: -$logo-circ-size-diff;
            left: -$logo-circ-size-diff;
            border-radius: 50%;
            /* @include shadow ( 0, 0, transparent); */
            @include transition;
            }
        &:hover {
            background: #444;
            box-shadow: 0 5px 10px rgba(0,0,0,.5) inset,
                        0 0 0 10px white,
                        0 -3px 10px 9px $base-shadow-color;
            text-shadow: 0 2px 5px darken(#333, 40);
            color: #DDD;
            }
        &:hover:after {
            @include shadow ( 0, $logo-circ-size-diff * .65, none );
            @include animation;
            }

        }
.header__nav A {
    margin-right: $base-font-size;
    }
    .header__nav .item--current {
        font-weight: bold;
        }
