.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
}

.project {
    position: relative;
    flex-basis: 30%;
    min-width: 180px;
    flex-grow: 1;
    margin: 0 10px 30px !important;

    &:before {
        content: none !important;
    }

    &:hover {
        IMG {
            outline: 2px solid $base-border-color;
        }
    }
}

.project__link {

    &:before {
        content: '' !important;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.project__content {
    margin-top: 10px;
}

.project__title {
    margin-bottom: 5px;
}

.project__desc {
    font-size: 14px;

    A {
        position: relative;
    }
}
