BODY {
    overflow: hidden;
    font: 16px/1.4 Arial, sans-serif;
    }

svg {
    display: block;
    }

button {
    margin: .5em 0;
    background: linear-gradient(gainsboro, darkgray);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    border: 1px solid #BBB;
    }


.layout {
    margin: 1em auto;
    text-align: center;
    }

.wrapper {
    margin: 1em;
    }

.svg-wrapper {
    display: inline-block;
    width: 270px;
    height: 120px;
    border: 3px solid #DDD;
    }