.aside__widget {
    @include margin ( bottom );
    &:last-child {
        margin-bottom: 0;
        }
}
.widget__item {
    margin-bottom: 7px;
    @media ( max-width: $break-point-small ){
        margin-bottom: 3px;
        }
    }
.widget__item--current {
    font-weight: bold;
    }
.widget__item--dead A {
    text-decoration: line-through;
    color: #CCC;
    }