HR {
    height: 0;
    background: transparent; 
    border: 0;
    @include border (bottom);
    }

.svg {
    border: 1px dashed $base-border-color;
    }    

.clear {
    &:after {
        @extend %clear;
        }
    }
.logo {
    font-family: 'Lobster', Georgia, cursive;
    }
.i-ljuser {
    white-space: nowrap;
    }   
.i-ljuser-userhead {
    vertical-align: -2px;
    margin-right: 3px;
    }   
.no-js :target:before {
    margin: 6px 0 0 -84px;
    background: #c9e052 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M19.414 27.414l10-10c0.781-0.781 0.781-2.047 0-2.828l-10-10c-0.781-0.781-2.047-0.781-2.828 0-0.781 0.781-0.781 2.047 0 2.828l6.586 6.586h-19.172c-1.105 0-2 0.895-2 2s0.895 2 2 2h19.172l-6.586 6.586c-0.39 0.39-0.586 0.902-0.586 1.414s0.195 1.024 0.586 1.414c0.781 0.781 2.047 0.781 2.828 0z" fill="#FFF" /></svg>') center center no-repeat;
    animation: movemarker .5s;
    animation-fill-mode: forwards;
    }
.no-js :target:before,
.js--target-marker {
    content: "";
    display: block;
    position: absolute;
    margin: 6px 0 0 -60px;
    width: 44px;
    height: 44px;
    line-height: 63px;
    background: hsl(70,70%,60%);
    border-radius: 50%;
    border: 5px solid #FFF;
    box-shadow: -2px 0 5px $base-shadow-color;
    text-align: center;
    transition: all .5s;
    }
    #arrow {
        fill: #FFF;
        }   
    .js--target-marker[data-target-tag="li"]{
        margin-top: -16px;
        }
    .js--target-marker {
        display: none;
        }
    .js--target-marker:hover {
        background-color: $base-link-color;
        transform: rotate(-90deg);
        }
@keyframes movemarker {
    100% {
        margin-left: -60px;
        }
    }
P:empty {
    display: none;
    }    
.kitten {
    position: absolute;
    right: 0;
    top: -77px;
        @media (max-width: $break-point-small ) {
            right: -15px;
        }   
    }

/* Codes
-------------------------------- */     
PRE,
CODE {
    border-radius: 4px; 
    }
CODE {
    display: inline-block;
    padding: 0 3px;
    background: palegoldenrod;
    text-shadow: 1px 1px white;
    font-family: Consolas, Monaco, Lucida Console, monospace;
    font-size: 12px;
    line-height: 1.6;
    color: darkred;
    }
    PRE CODE {
        display: block;
        background: transparent;
        color: inherit;
        }   
    .specifity {
        background: #DDD;
        color: #222;
        }       