@mixin icon ($width: 16px) {
    content: "";
    display: inline-block;
    width: $width;
    height: 16px;
    margin-right: 3px;
    vertical-align: middle;
    background: url(/assets/img/sprite.png);
}

.post {
    A[href*="github"]:before,
    A[href^="github"]:before {
        @include icon;
        background-position: 0 0;
        }
    A[href*="codepen.io"]:before,
    A[href*="cdpn.io"]:before {
        @include icon;
        background-position: -20px 0;
        }
    A[href*="wikipedia"]:before {
        @include icon;
        background-position: -40px 0;
        }
    A[href*="colourlovers"]:before {
        @include icon;
        background-position: -60px 0;
        }
    A[href*="yoksel.livejournal"]:before {
        @include icon;
        background-position: -80px 0;
        }
    A[href*="covers.livejournal"]:before {
        @include icon;
        background-position: -100px 0;
        }
    A[href*="jsbin.com"]:before {
        @include icon( 12px );
        background-position: -120px 0;
        }
    A[href*="w3.org"]:before {
        @include icon( 20px );
        background-position: -140px 1px;
        }
    A[href*="css-tricks.com"]:before {
        @include icon;
        background-position: -160px 0;
        }
    A[href*="webplatform.org"]:before {
        @include icon( 14px );
        background-position: -180px 0;
        }
    A[href*="html5rocks.com"]:before {
        @include icon;
        background-position: -200px 0;
        }
    A[href*="caniuse.com"]:before {
        @include icon;
        background-position: -220px 0;
        }    
    A[href*="google.com"]:before {
        @include icon;
        background-position: -240px 0;
        }        
}
