/* Fonts 
-------------------------------- */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local("Lobster"), url(http://themes.googleusercontent.com/licensed/font?kit=NIaFDq6p6eLpSvtV2DTNDW3ijSvVR9649SYj9d1g6NU) format("woff");
}

$base-font-color: #000;
$base-font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;

$headers-font-family: Georgia, serif;

%headers-style {
    margin-bottom: $base-font-size;
    line-height: 1.2;
    font-family: $headers-font-family;
    }

/* Colors 
-------------------------------- */

$base-link-color: steelblue;
$base-border-color: #DDD;

$base-shadow-color: rgba(100,100,100,.5);


/* Margins, paddings
-------------------------------- */

$base-margin: $base-font-size * 2;
$mid-margin: $base-font-size;
$small-margin: $base-font-size / 2;

@mixin margin ( $side ){
    margin-#{$side}: $base-margin;
    }
@mixin mid-margin ( $side ){
    margin-#{$side}: $mid-margin;
    }   
@mixin small-margin ( $side ){
    margin-#{$side}: $small-margin;
    }   

@mixin padding ( $side ){
    padding-#{$side}: $base-margin;
    }
@mixin small-padding ( $side ){
    padding-#{$side}: $mid-margin;
    }
@mixin tiny-padding ( $side ){
    padding-#{$side}: $base-font-size / 2;
    }           

/* Borders 
-------------------------------- */

@mixin border ( $side ){
    border-#{$side}: 1px solid $base-border-color;
    }

/* Common
-------------------------------- */

$break-point: 900px;
$break-point-small: 700px;

$logo-size: $base-font-size * 14;
$half-logo-size: $logo-size / 2;

$logo-size-koeff: .2;
$logo-size-diff: $logo-size * $logo-size-koeff;
$logo-decor-size: $logo-size + $logo-size-diff*2;
 
$logo-circ-size-koeff: .1;
$logo-circ-size-diff: $logo-size * $logo-circ-size-koeff;
$logo-circ-decor-size: $logo-size + $logo-circ-size-diff*2;

$logo-bgcolor: crimson;

@mixin transition {
    transition: all .5s;
}

%clear {
    content: "";
    display: table;
    width: 100%;
    clear: both;
    }

@mixin animation {
    animation: rotate 2s linear infinite;
}

/* MultyShadows
-------------------------------- */ 

$transp: .3;
$step: 360 / 9;
$koeff: 1.4;

$debug: null;

@function getColors( $transp: .3 ){
    $out: null;
    $max: 9;
    
    @for $i from 1 through $max {
        $color: hsla($step*($i - 1), 100%, 50%, $transp);
        @if ( $i == 1){
            $out: $color;
        }
        @else {
            $out: append($out, $color, comma);
        }
    }
            
    @return $out;
}

$colors: getColors();


@mixin shadow ( $size, $offset, $color ) {

    box-shadow: -#{$offset} -#{$offset} 0 $size nth($colors, 1), 
                -#{$offset*$koeff} 0 0 $size nth($colors, 2), 
                -#{$offset} $offset 0px $size nth($colors, 3), 
                0 $offset*$koeff 0px $size nth($colors, 4), 
                $offset $offset 0px $size nth($colors, 5), 
                $offset*$koeff 0 0px $size nth($colors, 6),
                $offset -#{$offset} 0px $size nth($colors, 7),
                0 -#{$offset*$koeff} 0px $size nth($colors, 8);
}

/* 

#{$debug}

*/
