.post {
	word-break: break-word;
	P, 
	PRE,
	TABLE,
	BLOCKQUOTE {
		@include mid-margin( bottom );
		}
	IFRAME {
		max-width: 100%;
		}	
	.warning--before-read {
		@include mid-margin( bottom );
		padding: 1em;
        border-radius: 10px;
		background:  lightgoldenrodyellow
		}
		.warning--before-read P:last-child {
			margin-bottom: 0;
			}	
	}
	.post__excerpt P:last-of-type {
		margin-bottom: 0;
		}
.post__date {
	@include margin( bottom );
	padding-bottom: 5px;
	@include border ( bottom );
	font-style: italic;
	font-size: .9em;
	color: #AAA;
	}		
.post__text {
	@include margin( bottom );
	IMG {
		max-width: 100%;
		height: auto;
		&:not([class='i-ljuser-userhead']){
			border: 1px solid $base-border-color;
			}
		}
	TABLE {
		width: 100%;
		}
		TH, 
		TD {
			@include border (bottom);
			padding: 7px;
			text-align: left;
			}			
		TH {
			white-space: nowrap;
			font-weight: bold;
			font-size: 1.2em;
			}	
			THEAD TH {
				@include border (top);
				background: #EEE;
				}
	.jsbin {
		width: 100%;
		@include margin( bottom );
		border: 1px solid $base-border-color;
		}
	.column {
		width: 48%; 
		}
		.column-left {
			float: left;
			}
		.column-right {
			float: right;
			}
	UL {
		@include margin( bottom );
		}			
		UL UL {
			margin-bottom: 0;	
			}
		LI {
			margin: 0 0 5px 25px;
			&:before {
				content: "—";
				position: absolute;
				margin-left: -20px;
				color: #AAA;
				}
			}								
	P + H4 {
		@include margin( top );
		}		
	}	
.post__links DT {
	margin-bottom: 5px;
	font-weight: bold;
	}		
.post__links DD:before {
	content: "—";
	margin-right: 5px;
	}	
.post__tags {
	@include padding ( top );
	@include border ( top );
	.item {
		display: inline-block;
		}
	}	

.post__link-back {
	@include mid-margin( bottom );
	text-align: center;
	color: darken($base-border-color, 20);
	}

.post__nav {
	@include margin( top );
	@include padding ( top );
	@include border ( top );
		@media (max-width: $break-point ) {
			@include tiny-padding ( top );
			@include tiny-padding ( bottom );	
			.item__text {
				display: none;
				}
				A {
					font-size: $base-font-size*3;
					line-height: 1;
					text-decoration: none;
					}
			}
	.item--prev {
		float: left;
		}
	.item--next {
		float: right;
		}
	&:after {
		@extend %clear;
		}	
	}	
.table--colors {
	min-width: 780px; 
	background: white;
	.color-item {
		margin-bottom: 3px;
		white-space: nowrap;
		}
		.color-view,
		.color-name {
			display: inline-block;	
			vertical-align: middle;
			}
		.color-view {
			width: 70px;
			}
		.color-name {
			padding-left: 5px;
			font-size: 13px;
			font-style: italic;
			}
	@media (max-width: $break-point ) {
		min-width: 0;
		TD {
			display: inline-block;
			width: 47.5%;
			padding: 0;
			border: 0;
			}
			.color-view {
				width: 120px;
				height: 35px;
				}
			.color-name {
				padding-left: 10px;
				font-size: $base-font-size;
				}
		}
	@media (max-width: $break-point * .8 ) {
		TD {
			display: inline-block;
			width: 100%;
			border: 0;
			padding: 0;
			}
			.color-view {
				width: 170px;
				height: 50px;
				}	
			}	
	}	
