.posts-by-tags {
    @media (max-width: $break-point ) {
        @include margin ( bottom );
    }
}

.tags-list {
    @include mid-margin( bottom );
    padding: 1rem;
    background: #EEE;
    }
    .tags-list__item {
        display: inline-block;
        margin-right: .75em;
        line-height: 1.75;
        }

.tags-button {
    padding: 0;
    background: transparent;
    border: 0;
    border-bottom: 1px dashed;
    font: inherit;
    line-height: 1;
    color: #333;
    cursor: pointer;

    &--current {
        border: 0;
        box-shadow: 0 0 0 4px #333;
        background: #333;
        color: #FFF;
        }
    }

.posts__list---by-tag .post {
    display: none;
    @include small-margin( bottom );
    }
