$cell-size: 2.5em;
$color-default: #EEE;
$color-active: gold;
$color-font: rgba(0,0,0,.35);
$debug: null;

$max: 12;
$step: 360/$max;

@mixin colors(){
  @for $i from 1 through $max {
    .demo-ul--#{$i} {
      color: hsl(($i - 1)*$step, 80%, 60%);
    }
  }
}

/* Common 
--------------------- */


@include colors;

.post__text {
  .demo-ul {
    counter-reset: list;
    margin-bottom: 0;
      & LI {
      display: inline-block;
      width: $cell-size;
      height: $cell-size;
      margin: 0;
      line-height: $cell-size;
      background: $color-default;
      text-align: center;
      }
      LI:before {
        content: counter(list) !important;
        counter-increment: list;  
        position: relative;
        margin: 0;
        color: $color-font;
        }
    } 

  H5 {
    margin-bottom: 1em;
    font: 1.2em/1.4 Georgia, serif;
    font-style: italic;
    color: #555;
    }
  .text--light {
    font-size: .8em;
    color: #BBB;
    }  
  
  HR {
    margin: 1.5em 0;
  }  
}


/* Nth-child 
--------------------- */

.demo-ul--1 LI:nth-child(3n) {
  background: currentColor;
  }
.demo-ul--2 LI:nth-child(3n+1) {
  background: currentColor;
  }
.demo-ul--3 LI:nth-child(even) {
  background: currentColor;
  }
.demo-ul--4 LI:nth-child(odd) {
  background: currentColor;
  }
.demo-ul--5 LI:nth-child(3n-1) {
  background: currentColor;
  }
.demo-ul--6 LI:nth-child(5) {
  background: currentColor;
  }
.demo-ul--7 LI:nth-child(n+6) {
  background: currentColor;
  }
.demo-ul--8 LI:nth-child(-n+6) {
  background: currentColor;
  }
.demo-ul--9 LI:nth-child(n+3):nth-child(-n+8) {
  background: currentColor;
  }
.demo-ul--10 LI:nth-child(n+4):nth-child(even) {
  background: currentColor;
  }
.demo-ul--11 LI:nth-child(3n+1):nth-child(even) {
  background: currentColor;
  }
.demo-ul--12 LI:nth-child(n+3):nth-child(-n+8):nth-child(even) {
  background: currentColor;
  }
