@charset "UTF-8";

@import '_reset';
/* Mixins
-------------------------------- */
@import '_mixins';

BODY {
    padding: $base-margin;
    background: #EEE;
    font: #{$base-font-size}/#{$base-line-height} #{$base-font-family};
    color: $base-font-color;
    @media (max-width: $break-point ) {
        padding: 30px 0 0;
        }
    }
A {
    color: $base-link-color;
    &:hover {
        text-decoration: none;
        color: lighten($base-link-color, 20);
        }
    }
/* Headers
-------------------------------- */
H1 {
    font-size: $base-font-size * 3.5;
    @extend %headers-style;
    }
H2 {
    font-size: $base-font-size * 2.5;
    @extend %headers-style;
    }
    .p-type-page H2 {
        @include margin( bottom );
        }
H3 {
    font-size: $base-font-size * 2.1;
    @extend %headers-style;
    }
H4 {
    font-size: $base-font-size * 1.7;
    @extend %headers-style;
    }
H5 {
    font-size: $base-font-size * 1.3;
    @extend %headers-style;
    }
H6 {
    font-size: $base-font-size * 1.1;
    @extend %headers-style;
    }

@media ( max-width: $break-point-small ){
        H2 {
            font-size: $base-font-size * 2;
            margin-bottom: $base-font-size * .6;
            }
        H3 {
            font-size: $base-font-size * 1.6;
            margin-bottom: $base-font-size * .6;
            }
        H4 {
            font-size: $base-font-size * 1.4;
            margin-bottom: $base-font-size * .6;
            }
        H5 {
            font-size: $base-font-size * 1.2;
            margin-bottom: $base-font-size * .6;
            }
        }
/* Common
-------------------------------- */
@import '_common';

/* Layout
-------------------------------- */
@import '_layout';

/* Header
-------------------------------- */
@import '_header';

/* Footer
-------------------------------- */
@import '_footer';

/* Post
-------------------------------- */
@import '_post';

/* Aside
-------------------------------- */
@import '_aside';

/* Animations
-------------------------------- */
@import '_animations';

/* Icons
-------------------------------- */
@import '_icons';

/* Prism
-------------------------------- */
@import '_prism';
