/* Fonts 
-------------------------------- */
$base-font-color: #000;
$base-font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;

$headers-font-family: Georgia, serif;

%headers-style {
	margin-bottom: $base-font-size;
	line-height: 1.2;
	font-family: $headers-font-family;
	}

/* Colors 
-------------------------------- */

$base-link-color: steelblue;
$base-border-color: #DDD;

$base-shadow-color: rgba(100,100,100,.5);


/* Margins, paddings
-------------------------------- */

$base-margin: $base-font-size * 2;
$small-margin: $base-font-size / 2;

@mixin margin ( $side ){
	margin-#{$side}: $base-margin;
	}
@mixin mid-margin ( $side ){
	margin-#{$side}: $base-font-size;
	}	
@mixin small-margin ( $side ){
	margin-#{$side}: $small-margin;
	}	

@mixin padding ( $side ){
	padding-#{$side}: $base-margin;
	}	

/* Borders 
-------------------------------- */

@mixin border ( $side ){
	border-#{$side}: 1px solid $base-border-color;
	}

/* Common
-------------------------------- */

$break-point: 900px;	    
$logo-size: $base-font-size * 14;
$half-logo-size: $logo-size / 2;

$logo-size-koeff: .2;
$logo-size-diff: $logo-size * $logo-size-koeff;
$logo-decor-size: $logo-size + $logo-size-diff*2;
 
$logo-circ-size-koeff: .1;
$logo-circ-size-diff: $logo-size * $logo-circ-size-koeff;
$logo-circ-decor-size: $logo-size + $logo-circ-size-diff*2;

$logo-bgcolor: crimson;

@mixin transition {
	transition: all .5s;
}

%clear {
	content: "";
	display: table;
	width: 100%;
	clear: both;
	}

@mixin animation {
	animation: rotate 2s linear infinite;
}

/* MultyShadows
-------------------------------- */
$logo-shadow-size: 10px;	

$transp: .3;
$step: 360 / 9;

$colors: hsla(0, 100%, 50%, $transp), 
         hsla($step, 100%, 50%, $transp), 
         hsla($step*2, 100%, 50%, $transp), 
         hsla($step*3, 100%, 50%, $transp), 
         hsla($step*4, 100%, 50%, $transp), 
         hsla($step*5, 100%, 50%, $transp), 
         hsla($step*7, 100%, 50%, $transp), 
         hsla($step*8, 100%, 50%, $transp) ;

$koeff: 1.4;

@mixin shadow ( $size, $offset, $color ) {
  @if ( $color == 'transparent' ){
    box-shadow: -#{$offset} -#{$offset} 0 $size $color, 
				-#{$offset*$koeff} 0 0 $size $color, 
        -#{$offset} $offset 0px $size $color, 
				0 $offset*$koeff 0px $size $color, 
        $offset $offset 0px $size $color, 
				$offset*$koeff 0 0px $size $color,
        $offset -#{$offset} 0px $size $color,
        0 -#{$offset*$koeff} 0px $size $color;  
  }
@else {
  box-shadow: -#{$offset} -#{$offset} 0 $size nth($colors, 1), 
				-#{$offset*$koeff} 0 0 $size nth($colors, 2), 
        -#{$offset} $offset 0px $size nth($colors, 3), 
				0 $offset*$koeff 0px $size nth($colors, 4), 
        $offset $offset 0px $size nth($colors, 5), 
				$offset*$koeff 0 0px $size nth($colors, 6),
        $offset -#{$offset} 0px $size nth($colors, 7),
        0 -#{$offset*$koeff} 0px $size nth($colors, 8);
  }
	
}
