.l-header {
	position: relative;
	height: $half-logo-size - $base-margin;
	text-align: center;
	}
.header__logo {
	display: inline-block;
	position: absolute;
	width: $logo-size;
	height: $logo-size;
	/*overflow: hidden;*/
	margin: 0 auto;
	bottom: 0;
	left: $half-logo-size;
	right: $half-logo-size;
	background: $logo-bgcolor;
    border-radius: 50%;
    font-family: 'Lobster', cursive;
   }
   .header__logo,
   .header__logo A {
   		text-decoration: none;
   		text-shadow: 0 0 5px darken($logo-bgcolor, 20);
		color: #FFF
   		}
   	.header__logo A {
   		position: absolute;
		width: $logo-decor-size;
		height: $logo-decor-size;
		overflow: hidden;
		top: -$logo-size-diff;
		left: -$logo-size-diff;
		/*background: gold;*/
		border-radius: 50%;
		&:before {
	    	content: "";
	    	display: inline-block;
	    	width: 0;
	    	height: $logo-decor-size;
	    	margin-right: -.2em;
	    	vertical-align: middle;
	    	}
   		&:after {
			content: "";
			display: block;
			position: absolute;
			width: $logo-circ-decor-size;
			height: $logo-circ-decor-size;
			margin: auto;
			top: $logo-circ-size-diff;
			left: $logo-circ-size-diff;
			border-radius: 50%;
			@include shadow ( 0, 0, transparent);
			@include transition;
			}
		&:hover:after {
			@include shadow ( 0 , $logo-circ-size-diff, none );
			@include animation;
   			}	
		
   		}	
   	.header__logo SPAN {
		vertical-align: middle;
   		}	
   	.item--about {
   		font-size: .7em;
   		}	
	.item--css {
   		font-size: 1.2em;
   		}	
.header__nav A {
	margin-right: $base-font-size;
	}
	.header__nav .item--current {
		font-weight: bold;
		}