@import "../../scss/globals";

.page-footer {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #DDD;
}

.page-footer__nav {
  margin: .5rem 0;
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.page-footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__nav-item {
  margin-right: 1em;

  &:last-child {
    margin-right: 0;
  }
}

.page-footer__nav-text {
  white-space: nowrap;

  &:not([href]) {
    font-weight: bold;
    color: #000;
  }
}
