
@use 'sass:list';

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/lobster/font.woff2') format('woff2');
}

$max: 9;
$step: 360 / $max;
$koeff: 1.4;

@function getColors( $transp: .3 ) {
  $out: null;

  @for $i from 1 through $max {
    $color: hsla($step * ($i - 1), 100%, 50%, $transp);

    @if $i == 1 {
      $out: $color;
    } @else {
      $out: list.append($out, $color, comma);
    }
  }

  @return $out;
}

$colors: getColors();

@mixin shadow($offset) {
  box-shadow:
    calc($offset * -1) calc($offset * -1) 0 list.nth($colors, 1),
    calc($offset * $koeff * -1) 0 0 list.nth($colors, 2),
    calc($offset * -1) $offset 0 list.nth($colors, 3),
    0 calc($offset * $koeff) 0 list.nth($colors, 4),
    $offset $offset 0 list.nth($colors, 5),
    calc($offset * $koeff) 0 0 list.nth($colors, 6),
    $offset calc($offset * -1) 0 list.nth($colors, 7),
    0 calc($offset * $koeff * -1) 0 list.nth($colors, 8);
}

/* ---------------- */
/* Header Logo      */
/* ---------------- */

.header-logo {
  --logo-circ-size-koeff: .1;
  --logo-circ-size-diff: calc(var(--logo-size) * var(--logo-circ-size-koeff));
  --logo-circ-decor-size: calc(var(--logo-size) + var(--logo-circ-size-diff) * 2);

  &--rays {
    --logo-circ-size-koeff: 1.5;
  }

  position: absolute;
  z-index: 1;
  width: var(--logo-size);
  height: var(--logo-size);
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 56px;
  line-height: 1.2;
  font-family: var(--logo-font-family);
  text-shadow: 0 0 5px #7f0c23;
  color: #FFF;

  &__item--about {
    font-size: .7em;
  }

  &__item--css {
    font-size: 1.2em;
  }
}

.header-logo__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: var(--logo-size);
  height: var(--logo-size);
  background: var(--logo-bgcolor);
  border-radius: 50%;
  box-shadow: 0 0 0 transparent inset,
    0 0 0 10px white,
    0 -3px 10px 9px var(--base-shadow-color);
}

.header-logo__link {
  color: inherit;
  text-decoration: none;
  transition: var(--logo-transition);

  &::before, &::after {
    content: "";
    display: block;
    position: absolute;
    width: var(--logo-circ-decor-size);
    height: var(--logo-circ-decor-size);
    top: calc(var(--logo-circ-size-diff) * -1);
    left: calc(var(--logo-circ-size-diff) * -1);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: inherit;
    pointer-events: none;
  }

  &:hover {
    background: #444;
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%) inset,
      0 0 0 10px white,
      0 -3px 10px 9px var(--base-shadow-color);
    text-shadow: 0 2px 5px #000;
    color: #DDD;
  }
}

.header-logo__link--circle {
  &:hover::after {
    @include shadow(calc(var(--logo-circ-size-diff) * .65));
    animation: rotate 2s linear infinite;
  }
}

.header-logo__link--rays {
  &:hover::before,
  &:hover::after {
    animation: rotate 30s linear infinite;
  }

  &:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='350' height='350'%3E%3CradialGradient id='grad' cx='50%25' y='50%25'%3E%3Cstop offset='20%25' stop-color='deepskyblue' class='stop-1' stop-opacity='.15'/%3E%3Cstop offset='100%25' stop-color='deepskyblue' stop-opacity='0' class='stop-2'/%3E%3C/radialGradient%3E%3Ccircle r='175' cx='175' cy='175' fill='none' stroke='url(%23grad)' stroke-width='250' stroke-dasharray='6.5% 6.5%'%3E%3C/circle%3E%3C/svg%3E");
    animation-direction: reverse;
    animation-duration: 25s;
  }

  &:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='350' height='350'%3E%3CradialGradient id='grad' cx='50%25' y='50%25'%3E%3Cstop offset='20%25' stop-color='white' class='stop-1' stop-opacity='.35'/%3E%3Cstop offset='100%25' stop-color='white' stop-opacity='0' class='stop-2'/%3E%3C/radialGradient%3E%3Ccircle r='175' cx='175' cy='175' fill='none' stroke='url(%23grad)' stroke-width='250' stroke-dasharray='1% 3%'%3E%3C/circle%3E%3C/svg%3E");
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* ---------------- */
/* Footer Logo      */
/* ---------------- */

.footer-logo {
  margin-right: 2rem;
  font-size: calc(var(--base-font-size) * 1.7);
  font-family: var(--logo-font-family);
}

.footer-logo__link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #333;
  transition: var(--logo-transition);

  &::before {
    content: attr(data-name);
    display: inline-block;
    position: absolute;
    left: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    color: var(--logo-bgcolor);
    transition: inherit;
  }

  &:hover {
    text-shadow: 0 2px 2px #CCC;

    &::before {
      width: 100%;
    }
  }
}
