---
layout: shell
---
<main class="l-main p-layout-{{ page.layout }}" role="main">
	<article class="post" id="begin">
		{% if page.title %}
		<h2 class="post__title">{{ page.title }}</h2>
		{% endif %}
		
		{% if page.date %}<div class="post__date">{{ page.date | date: "%d/%m/%Y" }}</div>{% endif %}

		<div class="post__text">
			{% include post-nav.html %}
			{{ content }}
		</div>
		{% include post-links.html %}

		{% include post-edit.html %}

		{% include pagination.html %}

		{% include disqus.html %}		
	</article>
</main>
<aside class="l-aside" role="complementary">
	{% include sidebar.html %}
</aside>