---
layout: shell
---
<main class="l-main p-layout-{{ page.layout }}" role="main">
  <article class="post post--single" id="begin">
    {% if page.title %}
    <h2 class="post__title">{{ page.title }}</h2>
    {% endif %}

    {% if page.date %}<time datetime="{{ page.date | date: "%Y-%m-%d" }}" class="post__date">{{ page.date | date: "%d/%m/%Y" }}</time>{% endif %}

    {% if page.include %}
      {% include {{ page.include }} %}
    {% endif %}

    <div class="post__text has-link-icons">
      {% include post-nav.html %}
      {{ content }}
    </div>
    {% include post-tags.html %}
    {% include post-links.html %}

    {% if site.env == 'prod' %}

      {% include share.html %}

      {% include post-edit.html %}

      {% include pagination.html %}

      {% include disqus.html %}

    {% endif %}
  </article>
</main>
<aside class="l-aside" role="complementary">
  {% include sidebar.html %}
</aside>
