HTML {
  scroll-behavior: smooth;
}

BODY {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 32px;
  padding-bottom: 0;
  background: #EEE;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  color: #000;

  /* https://web.dev/content-visibility/ */
  content-visibility: auto;
  contain-intrinsic-size: 1000px;

  & > * {
    flex-grow: 1;
  }

  @media ( width <= 1000px ) {
    padding: 32px 0 0;
  }
}

H1,
H2,
H3,
H4,
H5 {
  margin: 1em 0 .5em;
  font-weight: normal;
  font-family: Georgia, serif;
  line-height: 1.2;
}

H1 {
  font-size: 3rem;
}

H2 {
  font-size: 2.5rem;
}

H3 {
  font-size: 2rem;
}

H4 {
  font-size: 1.6rem;
}

H5 {
  font-size: 1.3rem;
}

H1:first-child,
H2:first-child,
H3:first-child,
H4:first-child,
H5:first-child {
  margin-top: 0;
}

A {
  color: var(--base-link-color);

  &:hover {
    text-decoration: none;
  }
}

IMG {
  max-width: 100%;
}

.img-about {
  float: right;
  max-width: 150px;
  height: auto;
  margin: 0 0 1.5rem 1.5rem;
  border-radius: 10px;
}

[hidden] {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
}

/* Codes
-------------------------------- */

PRE,
CODE {
  border-radius: 4px;
  font-size: 14px;
}

:not(PRE) > CODE {
  display: inline-block;
  /* stylelint-disable declaration-no-important */
  padding: 0 3px !important;
  background: palegoldenrod !important;
  text-shadow: 1px 1px white !important;
  font-family: Consolas, Monaco, "Lucida Console", monospace;
  line-height: 1.6;
  color: darkred !important;
  /* stylelint-enable declaration-no-important */

  /* stylelint-disable-next-line no-descending-specificity */
  A {
    color: inherit;
    text-decoration: none;
  }
}

PRE CODE {
  display: block;
  background: transparent;
  color: inherit;
}

/* Tiny helpers
-------------------------------- */

.specifity {
  background: #DDD;
  color: #222;
}

.faded-text {
  font-style: italic;
  color: #AAA;
}

.tiny-text {
  font-size: .9em;
}

.hidden {
  display: none;
}

.columns {
  display: flex;

  @media ( width <= 700px ) {
    .post & {
      flex-direction: column;
    }
  }

  .svg {
    display: block;
    margin: .5rem 0 1rem;
  }
}

.column {
  flex-grow: 1;

  & + & {
    margin-left: 1rem;
  }
}

.vlm {
  vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.resizable {
  position: relative;
  overflow: hidden;
  resize: both;
  outline: 1px solid #DDD;
  margin: 1rem 0;

  &--x {
    resize: horizontal;
  }

  &--y {
    resize: vertical;
  }

  IFRAME {
    display: block;
    margin: 0 !important;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1.5rem;
    height: 1.5rem;
    filter: drop-shadow(0 0 3px black);
    background: linear-gradient(
      to right bottom,
      transparent 50%,
      gold 0, gold 60%,
      transparent 0%, transparent 70%,
      yellowgreen 0, yellowgreen 80%,
      transparent 0%, transparent 90%,
      orangered 0
    );
  }
}

.hire-me {
  position: relative;
  display: block;
  margin-bottom: 2rem;
  padding: .75rem .5rem;
  border-radius: 4px;
  background: linear-gradient(45deg,
     dodgerblue, turquoise, mediumpurple
  );
  clip-path: polygon(97% 0%, 100% 50%, 97% 100%,
  3% 87%, 0% 50%, 3% 13%);
  text-align: center;
  line-height: 1;

  &__text {
    position: relative;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-bottom: 100%;
    transform: translateY(-50%);
    background: linear-gradient(90deg,
      purple 1%,crimson, gold, turquoise, dodgerblue 73%
    );
    opacity: 0;
    transition: all .5s;
  }

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:link,
  &:visited,
  &:hover {
    color: #FFF;
  }

  &:hover::before {
    opacity: 1;
    transform: translateY(-50%) rotate(-60deg);
  }
}

DL.no-bullets DD,
UL.no-bullets LI {
  margin-left: 0;

  &::before {
    content: none;
  }
}
