PRE,
CODE {
  border-radius: 4px;
  font-size: 14px;
}

:not(PRE) > CODE {
  display: inline-block;
  /* stylelint-disable declaration-no-important */
  padding: 0 3px !important;
  background: palegoldenrod !important;
  text-shadow: 1px 1px white !important;
  font-family: Consolas, Monaco, "Lucida Console", monospace;
  line-height: 1.6;
  color: darkred !important;
  /* stylelint-enable declaration-no-important */

  /* stylelint-disable-next-line no-descending-specificity */
  A {
    color: inherit;
    text-decoration: none;
  }
}

PRE CODE {
  display: block;
  background: transparent;
  color: inherit;

  P {
    margin: 0;
  }
}
