@import "base";
@import "links-icons";
@import "prism";
@import "codeHighlight";

:root {
  --gap: 2.5rem;

  --base-font-size: 16px;
  --base-line-height: 1.5;
  --base-link-color: steelblue;
  --base-shadow-color: rgb(100 100 100 / 50%);

  --logo-bgcolor: crimson;
  --logo-font-family: "Lobster", georgia, cursive;
  --logo-size: calc(var(--base-font-size) * 14);
  --half-logo-size: calc(var(--logo-size) / 2);

  --logo-transition: all .5s;
}
