A[href*="codepen"],
A[href*="npmjs"],
A[href*="github"],
A[href*="twitter"],
A[href*="livejournal"],
A[href*="w3.org"],
A[href*="css-tricks"],
A[href*="mozilla"],
A[href*="jsbin"],
A[href*="youtube"],
A[href*="pepelsbey"],
A[href*="microsoft"],
A[href*="medium"],
A[href*="typekit"],
A[href*="developers.google"],
A[href*="lea.verou"],
A[href*="wsd.events"] {
  &::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: .2em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

A[href*="codepen"] {
  &::before {
    background-image: url("/assets/img/svg/icons/codepen.svg");
  }
}

A[href*="npmjs"] {
  &::before {
    background-image: url("/assets/img/svg/icons/npm.svg");
  }
}

A[href*="github"] {
  &::before {
    background-image: url("/assets/img/svg/icons/github.svg");
  }
}

A[href*="twitter"] {
  &::before {
    background-image: url("/assets/img/svg/icons/twitter.svg");
  }
}

A[href*="livejournal"] {
  &::before {
    background-image: url("/assets/img/svg/icons/lj.svg");
  }
}

A[href*="w3.org"] {
  &::before {
    width: 1.25em;
    background-image: url("/assets/img/svg/icons/w3c.svg");
  }
}

A[href*="css-tricks"] {
  &::before {
    background-image: url("/assets/img/svg/icons/css-tricks.svg");
  }
}

A[href*="mozilla"] {
  &::before {
    background-image: url("/assets/img/svg/icons/mozilla.svg");
  }
}

A[href*="jsbin"] {
  &::before {
    background-image: url("/assets/img/svg/icons/jsbin-dave.svg");
  }
}

A[href*="youtube"] {
  &::before {
    background-image: url("/assets/img/svg/icons/youtube.svg");
  }
}

A[href*="pepelsbey"] {
  &::before {
    background-image: url("/assets/img/svg/icons/pepelsbey.svg");
  }
}

A[href*="microsoft"] {
  &::before {
    background-image: url("/assets/img/svg/icons/microsoft.svg");
  }
}

A[href*="medium"] {
  &::before {
    background-image: url("/assets/img/svg/icons/medium.svg");
  }
}

A[href*="typekit"] {
  &::before {
    background-image: url("/assets/img/svg/icons/typekit.svg");
  }
}

A[href*="developers.google"] {
  &::before {
    background-image: url("/assets/img/svg/icons/google-dev.svg");
  }
}

A[href*="lea.verou"] {
  &::before {
    background-image: url("/assets/img/svg/icons/lea.svg");
  }
}

A[href*="wsd.events"] {
  &::before {
    background-image: url("/assets/img/svg/icons/wsd.svg");
  }
}
