.posts-by-tags {
  @media ( max-width: 1000px ) {
    margin-bottom: 1rem;
  }
}

// Increase specifity
// to overide list styles in post
.post .tags-list {
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 1.5rem;
  background: #EEE;
  text-align: center;
}

.post .tags-list__item {
  display: inline-block;
  margin: 0 .5em;
  line-height: 2;
}

.tags-button {
  padding: 0;
  background: transparent;
  border: 0;
  border-bottom: 1px dashed;
  font: inherit;
  line-height: 1;
  color: #333;
  cursor: pointer;

  &--current {
    border: 0;
    outline: 0;
    box-shadow: 0 0 0 4px #333;
    background: #333;
    color: #FFF;
  }
}

.posts__list---by-tag .post {
  margin-bottom: .5rem;
}
